<div>
    <table class="table">
        <thead class="table__head">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">SKU</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <!--            <th scope="col">Description</th>-->
            <th scope="col">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products$ | async" class="table__row">
            <td class="entity-field">{{ product.id }}</td>
            <td class="entity-field">{{ product.sku }}</td>
            <td class="entity-field">{{ product.name }}</td>
            <td class="entity-field">{{ product.price|price }}</td>
            <td class="entity-actions">
                <button (click)="viewItem(product.id!)" class="btn btn-outline-primary">
                    <fa-icon [icon]="['fas', 'eye']" size="1x"></fa-icon>
                </button>
                <button (click)="editItem(product.id!)" class="btn btn-primary">
                    <fa-icon [icon]="['fas', 'edit']" size="1x"></fa-icon>
                </button>
                <button (click)="deleteItem(product)" class="btn btn-danger">
                    <fa-icon [icon]="['fas', 'trash-alt']" size="1x"></fa-icon>
                </button>
            </td>
        </tr>
        </tbody>
    </table>


</div>

<modal-window-overlay></modal-window-overlay>
